* {
    font-family: 'Roboto', sans-serif;
}

.header {
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;

}

#visit-turism {
    display: flex;
}

.col-md-4 p {
    font-size: 21px;

}

#bg-light {
    background-color: white !important;
}

/* .nav-item {
    margin-left: 20px;
} */

.buttonGroup {
    display: flex;
    list-style: none;
    justify-content: end;
}

.list-nav {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
}

.list-nav-li {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.list-nav-li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.button-comprar-ahora {
    color: white;
    background-color: #FF7200;
    border-radius: 5px;
    border: none;
    font-weight: bolder !important;
    width: 14rem;
    height: 4rem;
}

h5 {
    margin-bottom: 0 !important;
}

.container-banner {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    margin-bottom: 2rem;
}

/* .item-1 {
    grid-column: 1 / 14;
    grid-row: 1 / 12;

} */

.section-grid {
    background-image: url("IMG/graph.png");
    height: 520px;
}


/* .item-2 {
    grid-column: 4 / 10;
    grid-row: 10 / 12;

} */

.seccion1 {
    display: flex;
    margin: 40px;
}

.seccion1-icon {
    margin-right: 1rem;
}

#row-center {
    background: linear-gradient(to right, #FF6114, #FF945A);
    ;
    border-radius: 5px;
    color: white;
}

#promociones {
    margin-left: 5rem;
}

.section-promos {
    display: flex;
    align-items: center;
}

.section-promos p {
    font-size: 21px;

}

.section-promos-text {
    padding: 3rem;
}

#line {
    background-color: #ddd;
    height: 1px;
    margin-bottom: 1rem;
}

.section-promos-graph {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    align-items: center;

}
/* 
.graph0 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;

}

.graph1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.graph2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

}

.graph3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

} */

.table-card {
    margin: 0 !important;
}

.table-row {
    position: relative;

}

#dot-bottom {
    margin-bottom: none !important;
}

.dot::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #FF6114;
    border-radius: 100px;
    left: -5px;
    bottom: 0;

}

.section-promos table {
    border-bottom: 1px solid #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 10px;

}

.section-promos table td {
    border-bottom: 1px solid #f2f2f2;

}

.section-promos table tr {
    margin: 0 1rem;
}

table {
    margin-top: 3rem;
    width: 100%;
    border: 1px solid;
}

th {
    font-weight: bolder;
    padding: 1rem;
}

td {
    padding: 1.5rem;

}

tr {
    margin: 0 1rem;
    border-bottom: 1px solid;
}

thead {
    background-color: #f2f2f2;
}

.feliz {
    background-color: #23C367;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;

}

.input {
    height: 36px;
    width: 12rem;
}

#dudas {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 3rem;
    background-color: #f8f8f8;

}

.card-body {
    padding: 2px !important;
    border: 1px solid gray;
}

.card-sect2 {
    background-color: #f2f2f2;
}

.card-title {
    color: black;
}

/* .card-title2 {
    color: black;
    margin-top: 0.5rem;
    font-size: 14.5pt;
    padding-left: 9pt;
}

.card-text {
    padding: 5px;
} */

a {
    text-decoration: none !important;
}

/* .p1 {
    font-size: 12px;
    color: #FF6114;
} */

.card {
    margin: 2rem;
    border-radius: 1rem !important;
    border: none !important;
}

/* .section-promos-text h1 {
    margin-bottom: 2rem;
}

#promosyconsederaciones {
    margin-top: 3rem;
} */

.considerations {
    display: flex;
    align-items: baseline;
}

/* .icon-considerations {
    margin-right: 1rem;
} */

.tours-populares {
    align-self: center;
}

.button-content {
    text-align: center;
}

footer {
    background-color: #525151;
    height: 50px;
    text-align: center;
    margin-top: 5rem;
    padding-top: 15px;
    color: white;
    font-size: 17px;

}
/* 
.menu-icon {
    position: absolute;
    right: 1.5rem;
    top: 35px;

}

.titles {
    width: 40%;
}


.titles2 {
    width: auto;
    margin-left: 20px;
}

.titles3 {
    width: 30%;
}

.section-promos-text p {
    font-weight: bolder;
}

#id-col-sm-6 {
    margin-top: 45px;
}

.plus-bold p {
    font-weight: bold;
    font-size: 35px;
    color: black;
} */

/*media Q/responsive*/

/* @media (max-width: 1920px), handheld and (orientation: landscape) {
    
    .header {
        justify-content: space-between;
        display: flex;
        text-decoration: none;
        margin-top: 1rem;
        margin-left: -11rem;
        margin-right: -13rem;
        align-items: center;
    }
    
    #bg-light {
        background-color: white !important;
        margin-left: -14rem;
        margin-right: -14rem;
        height: 72pt;
        margin-top: -4pt;
        padding-bottom: 13pt;
    }

    #bg-light .container-fluid .navbar-brand img{
        width: 137%
    }

    #visit-turism {
        font-size: 18pt;
    }

    .buttonGroup img {
        width: 3rem;
    }

    .buttonGroup .nav-item {
        margin-right: 1rem;
    }

    .lista-nav .list-nav {
        font-size: 18pt;
    }

    .lista-nav .list-nav .list-nav-li .button-comprar-ahora{
        width: 18rem;
        height: 4.3rem;
    }

    .lista-nav .list-nav .list-nav-li .button-comprar-ahora h5{
        font-size: 20pt;
        font-weight: 800;
    }

    .item-1 {
        grid-column: 1 / 13;
        grid-row: 1 / 12;
    }

    .item-2 {
        grid-column: 2 / 12;
        grid-row: 9 / 11;
        margin-top: -37pt;
    }

    #row-center .seccion1{
        display: flex;
        margin-top: 64px;
        margin-bottom: 54pt;
        margin-left: 33pt;
        margin-right: 9px;
    }

    #row-center .seccion1 h5{
        font-size: 17.4pt;
        font-weight: 900;
    }

    #row-center .seccion1 p{
        font-size: 14.4pt;
        font-weight: 500;
    }

    #container-grid{
        margin-top: -6rem;
        max-width: 99rem;
        font-size: 21pt;
    }

    #promociones {
        margin-left: -2rem;
    }

    #promociones .plus-bold h2{
        font-size: 33pt;
        font-weight: 800;
    }

    #promociones p{
        font-size: 18pt;
        font-weight: 360;
    }

    #promociones table td{
        font-size: 18pt;
        font-weight: 450;
    }

    #promociones table th{
        font-size: 18pt;
        font-weight: 900;
    }

    #promociones table td{
        font-size: 18pt;
        font-weight: 450;
    }

    #container-grid .avatars-draw img {
        margin-top: -5rem;
        height: 740pt;
    }

    #promociones .button-section-promos{
        padding-bottom: 4rem;
    }

    #promociones .button-section-promos .button-comprar-ahora{
        width: 19.5rem;
        height: 4.5rem;
    }

    #promociones .button-section-promos .button-comprar-ahora h5{
        font-size: 21pt;
        font-weight: 600;
    }

    #middle {
        margin-top: 7rem;
        margin-left: 8rem;
        margin-right: 6rem;
    }

    #middle .section-promos .col-7 img{
        width: 90%;
        margin-left: 2rem;
        height: 54rem;
        margin-bottom: 4rem;
    }

    #middle .section-promos .section-promos-text{
        margin-top:-5rem;
    }

    #dudas .container{
        margin-top: 5rem;
        margin-left: 8rem;
    }

    #dudas .titles .plus-bold p{
        font-weight: bolder;
        font-size: 30pt;
    }

    #dudas .titles p{
        font-size: 21px;
    }

    #dudas .col-7{
        margin-left: 4rem;
        width: 71%;
        padding-bottom: 5rem;
    }

    #dudas .titles .button-comprar-ahora{
        width: 19rem;
    }

    #tours-populars .section-promos .titles3{
        width: 27%;
        margin-left: -7rem;
    }

    #tours-populars .section-promos .titles3 h1{
        font-weight: 600;
        font-size: 39pt;
    }

    #tours-populars .section-promos .card-group{
        font-weight: 600;
        font-size: 24pt;
    }

    #tours-populars .section-promos .card-group img{
        width: 106%;
    }

} */


@media (max-width: 1366px), handheld and (orientation: landscape) {
    .header {
        justify-content: space-between;
        display: flex;
        text-decoration: none;
        margin-top: 1rem;
        margin-left: -1rem;
        margin-right: 0rem;
        align-items: center;
    }

    #visit-turism {
        font-size: 15pt;
        margin-left: -1.2rem;
    }

    .buttonGroup img {
        width: 2rem;
    }

    .buttonGroup .nav-item {
        margin-right: 1rem;
    }

    #bg-light {
        background-color: white !important;
        margin-top: -11pt;
        margin-bottom: -7pt;
        margin-left: -94pt;
        margin-right: -94pt;
        padding-left: 3rem;
        padding-right: 5rem;
        font-weight: 500;
        font-size: 13pt;
        height: 63pt !important;
    }

    #bg-light .button-comprar-ahora h5 {
        font-weight: 999;
        letter-spacing: 0.5px;
    }

    .item-1 {
        grid-column: 1 / 13;
        grid-row: 1 / 12;
    }

    .item-2 {
        grid-column: 2 / 12;
        grid-row: 8 / 11;
    }

    #container-grid {
        max-width: 1332px;
        margin-top: -4rem;
    }

    #container-grid #promociones p {
        font-size: 13pt;
        font-family: system-ui;
        font-weight: 300;
    }

    #container-grid .avatars-draw img {
        margin-top: -5rem;
        height: 635pt;
    }

    #promociones .plus-bold h2 {
        font-weight: 900;
    }

    #promociones table th {
        font-weight: 900;
        font-size: 16.8px;
    }

    #promociones table tr {
        font-weight: 380;
        font-size: 13pt;
    }

    .feliz {
        background-color: #23C367;
        color: white;
        border-radius: 5px;
        text-align: center;
        font-weight: bolder;
        padding-top: 3pt;
        padding-left: 3pt;
        padding-right: 3pt;
    }

    #middle .section-promos {
        margin-left: 5rem;
        margin-right: 12rem;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    #middle .section-grid{
        margin-right: -13rem;
        margin-top: -32pt;
        height: 542px;
    }

    #middle .section-promos-text .plus-bold{
        text-align: center;
        width: 155%;
    }

    #dudas p{
        font-size: 13.5pt;
    }

    #dudas .titles .plus-bold p{
        font-size: 26pt;
    }

    #dudas .button-comprar-ahora{
        width: 16.3rem
    }

    #dudas .button-comprar-ahora h5{
        font-weight: 700;
        font-size: 17pt;
    }

    #dudas .container .section-promos {
        margin-top: 3rem;
    }

    #tours-populars .section-promos h1{
        font-weight: 700;
    }

    #tours-populars .section-promos .card-group .card-img-top{
        width:108%;
    }

    #tours-populars .section-promos .card-group .card-title2{
        width:108%;
        color: black;
        margin-left: 1rem;
        padding-top: 7pt;
    }

    #promosyconsederaciones .section-promos{
        margin-top: 76pt;
    }

    #promosyconsederaciones .section-promos .section-promos-text .content p{
        font-weight: 400;
        font-size: 12pt;
    }

    #promosyconsederaciones .section-promos .section-promos-text{
        padding: 1rem;
    }

    #promosyconsederaciones .section-promos .section-promos-text .content{
        margin-left: 2.5rem;
        width: 100%;
    }

    #promosyconsederaciones .section-promos .section-promos-text .titles h1{
        margin-left: 2.5rem;
        font-weight: 600 !important;
    }

    #promosyconsederaciones .button-content{
        margin-top: 7rem;
        margin-left: 4rem;
    }

    #promosyconsederaciones .button-content .button-comprar-ahora{
        color: white;
        background-color: #FF7200;
        border-radius: 5px;
        border: none;
        width: 23rem;
        height: 5rem;
    }

    #promosyconsederaciones .button-content .button-comprar-ahora h5{
        font-size: 21pt;
        font-weight: 600;
    }

}

@media (max-width: 1024px), handheld and (orientation: landscape) {
    
}

/* @media (max-width: 1980px) {



    .item-2{
        grid-column: 3/11;
        grid-row: 11 / 13;
        height: 100px;
    }
    

    .avatars-draw{
        margin-top: 60px;
    }

    #promociones{
        margin-left: 4rem;
    }
    
    #container-grid {
        margin-top: 80px;
    }
    .container-banner{
        margin-bottom: 0;
    }    
}

@media (max-width: 1441px) {

    .item-2{
        grid-column: 2/12;
        grid-row: 10 / 12;
    }
    

    .avatars-draw{
        margin-top: 0;
    }

    #promociones{
        margin-left: 3rem;
    }

    .container-banner{
        margin-bottom: 0;
    }
    #container-grid {
        margin-top: 80px;
    }
    
}

@media (max-width: 1367px) {

    .item-2{
        grid-column: 2/12;
        grid-row: 10 / 12;
    }
    .avatars{
        width: 100% !important;
    }

    .avatar1{
        margin-top: 5rem;
    }

    #promociones{
        margin-left: 1rem;
    }

    .container-banner{
        margin-bottom: 0;
    }
    #container-grid {
        margin-top: 80px;
    }   
}

@media (max-width: 1025px) {

    .item-2{
        grid-column: 2/12;
        grid-row: 9 / 12;
    }
    .avatars{
        width: 100% !important;
    }

    .avatar1{
        margin-top: 10rem;
    }

    .avatars-draw{
        margin-top: 5rem;
    }
    .seccion1{
        margin: 20px;
        font-size: 12px;
    }

    #promociones{
        margin-left: 1rem;
    }

    .container-banner{
        margin-bottom: 0;
    }
    #container-grid {
        margin-top: 5rem;
    } 
}

@media (max-width: 820px) {
    .col-md-4 p{
        font-size: 14px;
    }

   

    .menu-line{
        width: 30px;
        height: 5px;
        background-color: #FF6114;
        margin-bottom: 0.4rem;
        border-radius: 90px;
      }

      .section-promos{
          display: block;
      }

      .lista-nav{
          display: none;
      }

      #promociones{
          margin-left: 0;
      }

      

      .button-section-promos{
          text-align: center;
          margin-bottom: 2rem;
      }

      th{
          font-size: 12px;
          padding: 0.5rem;
      }

      td{
        font-size: 12px;
        }

      .feliz{
          font-size: 12px;
      }

      .container-banner{
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);
        margin-bottom: 2rem;
        }
    
    .item-1{
        grid-column: 1 / 5;
        grid-row: 1 / 4;
        margin-top: 10px;
        
    }
    
    .item-2{
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }

    #container-grid {
        margin-top: 8rem;
    } 

    .avatar1{
        margin-top: 1rem;
    }

    #promociones{
        text-align: center;
    }
    
    .avatars{
        width: 100% !important;
    }

    .avatars-draw{
        margin-top: 1rem;
        width: 100% !important;
        text-align: -webkit-center;
    }
    

    .section-promos p{
        font-size: 14px !important;
    }

    .section-promos-text p{
        font-size: 14px !important;
    }

    #dudas{
        padding: 1rem;
    }

    .titles{
        text-align: center;
        width: auto;
    }

    .titles3{
        width: 100%;
        text-align: center;
    }

    .button-comprar-ahora{
        margin-bottom: 2rem;
    }
    

}

@media (max-width: 480px) {
    .col-md-4 p{
        font-size: 14px;
    }

    .avatar1{
        width: 90%;
    }

    .menu-line{
        width: 30px;
        height: 0.3rem;
        background-color: #FF6114;
        margin-bottom: 0.4rem;
      }

      .section-promos{
          display: block;
      }

      .lista-nav{
          display: none;
      }

      .button-section-promos{
          text-align: center;
          margin-bottom: 2rem;
      }

      th{
          font-size: 12px;
          padding: 0.5rem;
      }

      td{
        font-size: 12px;
        }

      .feliz{
          font-size: 12px;
      }

      .container-banner{
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);
        margin-bottom: 2rem;
        }
    
    .item-1{
        grid-column: 1 / 5;
        grid-row: 1 / 4;
        
    }
    
    #row-center {
        display: block;
    }
    .item-2{
        grid-column: 1 / 5;
        grid-row: 3 / 5;
        margin-top: 2rem;
    }

    #container-grid {
        margin-top: 20rem;
    } 

    #promociones{
        text-align: center;
        margin-left: 0;
        margin-top: 450px;
    }
    
    .avatars{
        width: 100% !important;
    }

    .avatars-draw{
        width: 100% !important;
    }
    

    .section-promos p{
        font-size: 14px !important;
    }

    .section-promos-text{
        padding: 20px;
    }

    .section-promos-text p{
        font-size: 14px !important;
    }

    #dudas{
        padding: 1rem;
    }

    .titles{
        text-align: center;
        width: auto;
    }

    .img-col-sm-6{
        width: 100%;
    }

    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #id-col-sm-6{
        margin-top: 25px;
    }
    .seccion1 {
        padding-top: 1rem;
    }
    
} */

.bg-image-big {
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline-block;
    background: url(http://viceland-assets-cdn.vice.com/viceblog/47451647MCQ-cloudcity.jpg) no-repeat center center fixed;
    background-color: #f7f7f7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 40vh;
    width: 100%;
}

.inner {
    position: absolute;
    display: inline-block;
    padding: 30px;
    left: 50%;
    bottom: -100px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50%;
    background: white;
    border: 5px solid black;
    text-align: center;
}